#nome_formulario{
    text-align: center;
    font-size: 200%;
}

.titulo{    
    text-align: start;
    font-size: 150%;
    font-weight: bold;
}

.foto{
    width: 60%;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid black;
}

.respondido{
    border: 4px solid green;
}

.dados-formulario-sessao, #recomendacoes{
    margin: 10px;
    padding: 10px;    
    border-radius: 10px;
    background-color: #F5F5F6;
    border: 3.5px solid #1E90FF;
}

.opcoes{
    max-width: 100% !important;
    width: 100% !important;    
    font-size: 80%;
}

.opcoes li:nth-last-of-type(1){    
    width: 200px;
}

.classe-opcao{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

.status-tecnico-pergunta{    
    border: 1px solid black;    
    padding: 2px;
    margin: 4px;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .opcoes {
        font-size: 75%;
    }
    .opcoes li {
        padding: 0 4px;
        overflow: visible;
    }
    .opcoes li .h-0\.5 {
        margin-right: -8px;
    }
    .opcoes li > div:first-child {
        min-height: 60px;
    }
}

#online{
    position:fixed;
    margin-top: -50px;
}